.header-top {
  padding-top: 3em;
  padding-left: 12px;
}
.box {
  width: 100%;
  height:150px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
}
.padding-top {
  padding-top: 2em;
}

.color1 {
  background-color:rgb(219, 10, 91);
  color:#fff;
}
.color2 {
  background-color: rgb(190, 144, 212);
  color:#fff;
}
.color3 {
  background-color: rgb(27, 188, 155);
  color: #fff;
}
.color4 {
  background-color: rgb(210, 82, 127);
  color:#fff;
}
.color5 {
  background-color: rgb(1, 152, 117);
  color:#fff;
}
.color6 {
  background-color: rgb(135, 211, 124);
  color:#fff;
}
.color7 {
  background-color: rgb(58, 83, 155);
  color:#fff;
}
.color8 {
  background-color: rgb(102, 51, 153);
  color: #fff;
}
.img-respon {
  width: 90px;
  height: 140px;
}
.title-wrap {
  display:flex;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: 16px;
  padding-right:16px;
}
.img-wrap {
  display:flex;
  position: absolute;
  right:13px;
  top:40px;
  /* padding: 5px; */
}
.add-border {
  border: 1px solid transparent;
  border-radius: 20px;
  height: 27px;
  width: 100px;
  background-color:rgba(255, 255, 255, 0.64);
  margin-left: 16px;
  margin-bottom: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}