<div class="container-wrap">
    <!-- Header -->
    <div class="header-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-12">
            <h1 class="title">What Pokemon are you looking for ?</h1>
          </div>
            <div class="col-md-4 col-12">
              <div class="Search-box">
                <input type="search" placeholder="Search Pokemon" class="form-control" />
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12 padding-top">
          <a routerLink="/pokedex">
            <div class="box orange">
              <h6 class="sub-title">Pokedex</h6>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-12 padding-top">
          <a routerLink="/movies">
            <div class="box green">
              <h6 class="sub-title">Movies</h6>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-12 padding-top">
          <a routerLink="/items">
            <div class="box yellow">
              <h6 class="sub-title">Items</h6>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-12 padding-top">
          <a routerLink="/abilities">
            <div class="box lightblue">
              <h6 class="sub-title">Abilities</h6>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-12 padding-top">
          <a routerLink="/locations">
            <div class="box red">
              <h6 class="sub-title">Locations</h6>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-12 padding-top">
          <a routerLink="/typechart">
            <div class="box lawngreen">
              <h6 class="sub-title">Type Charts</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
